-----BEGIN CERTIFICATE-----
MIIDpTCCAo2gAwIBAgIUFACX4ZRrXRRvH2QmfdRNtFUxl/AwDQYJKoZIhvcNAQEL
BQAwdjELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYDVQQHDAlCYXJj
ZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQswCQYDVQQDDAJjYTEa
MBgGCSqGSIb3DQEJARYLY2EtYWRtaW5AY2EwHhcNMjAwMjAyMjIxNTUyWhcNMjUw
MTMxMjIxNTUyWjCBhjELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYD
VQQHDAlCYXJjZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMRMwEQYD
VQQDDApzdHJvbmdzd2FuMSIwIAYJKoZIhvcNAQkBFhNjYS1hZG1pbkBzdHJvbmdz
d2FuMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuxZg2aFMh+qKQfQW
oecYd3RaPAUWhvqfmFN7KniUwwx39DvWgjERZ+ZM5DpbQs7ErfEkmdaDL2K/k7oU
Ur727/bZpKKEPkZxuFEbxbZd64mov4E8aOExLgrZOk00lSxT70yRgNn9tD/ozSdg
XTfx607EdVF8pYrwS4GNh1oU49jJG5n862qB9f8gid25tGs7q0bopdIWAZO5KLZt
SwQoHrOlvqr16kZGKPzLlhqc07TWMZ1LUhUsmFrQOL5ytT4QcjpEQlTG142yXMWF
NPZxgOFRe/npSzeXMzlLXHYfJb0GB/I7n7IkkCTcAGlroHfnk/u2QF+21ziI0quB
JlTh+QIDAQABoxowGDAJBgNVHRMEAjAAMAsGA1UdDwQEAwIF4DANBgkqhkiG9w0B
AQsFAAOCAQEATLvWzNN4Xmn3eB5BBoPB+Tz7+QFVYxVirrI4PDIf+pIvafMzb/Xb
6DfJZ139SNkfybGfCWbCr0ZlvoUT+oDnsOTrR9RfABEqhHDdR6Gage2agXzHl/7V
GCnq6vPOHGlhGds+dtXwMQiKyWShNzdKRBP7w3RIm1XEliBeZXfGqBKkPBxcpJBe
iGht+fQ8vkp6kUBnJWkwtCM5S6bqXEmbVLgd/RyC0IElZB2KAKpffFficTlX0Xqj
LwEGLXiR5w7IMCdYARm/ojB0K0jGdeojhNSMua6NHjEn1UeXitbuDv3WIRD1AIe9
M9Xq3iMN8tVz07tgtuoHcT+k/tWVeEE43g==
-----END CERTIFICATE-----
