-----BEGIN CERTIFICATE-----
MIID7zCCAtegAwIBAgIUQLSLeqdXWU5fqVJku8uALtQU0igwDQYJKoZIhvcNAQEL
BQAwgYYxCzAJBgNVBAYTAkVTMQ4wDAYDVQQIDAVTcGFpbjESMBAGA1UEBwwJQmFy
Y2Vsb25hMQ0wCwYDVQQKDARUZXN0MQswCQYDVQQLDAJJVDETMBEGA1UEAwwKc3Ry
b25nc3dhbjEiMCAGCSqGSIb3DQEJARYTY2EtYWRtaW5Ac3Ryb25nc3dhbjAeFw0y
MDAyMDEwMjAyNDhaFw0yMTAxMzEwMjAyNDhaMIGGMQswCQYDVQQGEwJFUzEOMAwG
A1UECAwFU3BhaW4xEjAQBgNVBAcMCUJhcmNlbG9uYTENMAsGA1UECgwEVGVzdDEL
MAkGA1UECwwCSVQxEzARBgNVBAMMCnN0cm9uZ3N3YW4xIjAgBgkqhkiG9w0BCQEW
E2NhLWFkbWluQHN0cm9uZ3N3YW4wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
AoIBAQCY8iLuJhi7hmXNLOEQ2ooIB4ejOC1aAhSikkXlm4SDqFYgl/pjDHVJow3i
I1gMe0bS9Ytj5pHR4FT6Nia7cG4HczMlXq1l0dlW6gcXvvzZ4qXDHkdYTljNasMu
8pIEvf3tj8jwCs1YsZz+5LMGaSTDeDkToKzGWxq8MywhYyPFk8XUMZeMMJmjzTC7
aH6bLmvpB7aJlrwrwWGyvaEzdEnuh4g9aDbPrJAcbAIDCWD5Wb0UvlHEeHz/Uuvy
1DrGSYGBJ2yvUqNt/pk9OHwSsQrOtN9bkQTkXzHHJLhqurqL9FtbkCb/54l6BB9l
O7qdSqpgo8sb0K7EZW8RNzvoptgXAgMBAAGjUzBRMB0GA1UdDgQWBBS+S8kl7RYo
PYXsQml2DNFLLH8vxTAfBgNVHSMEGDAWgBS+S8kl7RYoPYXsQml2DNFLLH8vxTAP
BgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBqkc3CpW1ALRh3kDO3
SKNW1FG5UDVlbV06ybC3zlIPCxTAssfQ4iQrmzccdEbudX7Q5T01vpKUOgSeiqo6
F53dHS6tQ63KHWvUvUGk7kWQRAJmSw03ozw5wQbJ2O5icURIfXt3TR/VsfxwN+t9
aRQGGTSzJ+9OoGcTn596h3S7TKYFvgeTqbbRWfcwXgNHL6pgIdydGxrYJKm1eeZN
wJOOgxnFG1sXdF1/AiXksPIy/pQwSFYz/74ezDYN+UPSPT9ypeHl3CY9ojQf2d+S
bTNaUUmjU+P7Vto7ekwljjene7YlVbouGiK6PG0FUMQCrtCFXW9wWrwD2GdLzh+z
HD0y
-----END CERTIFICATE-----
