-----BEGIN CERTIFICATE-----
MIID7zCCAtegAwIBAgIUK8JuMlhxI01kmFlwK9ALYL38Kf4wDQYJKoZIhvcNAQEL
BQAwgYYxCzAJBgNVBAYTAkVTMQ4wDAYDVQQIDAVTcGFpbjESMBAGA1UEBwwJQmFy
Y2Vsb25hMQ0wCwYDVQQKDARUZXN0MQswCQYDVQQLDAJJVDETMBEGA1UEAwwKc3Ry
b25nc3dhbjEiMCAGCSqGSIb3DQEJARYTY2EtYWRtaW5Ac3Ryb25nc3dhbjAeFw0y
MDAxMzAyMjU2MzdaFw0yMTAxMjkyMjU2MzdaMIGGMQswCQYDVQQGEwJFUzEOMAwG
A1UECAwFU3BhaW4xEjAQBgNVBAcMCUJhcmNlbG9uYTENMAsGA1UECgwEVGVzdDEL
MAkGA1UECwwCSVQxEzARBgNVBAMMCnN0cm9uZ3N3YW4xIjAgBgkqhkiG9w0BCQEW
E2NhLWFkbWluQHN0cm9uZ3N3YW4wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
AoIBAQC1bcCDw/6nq1Yg6Ui00poqVdmTLvgPKDSVmfJU5PaXX6ZSU+9Comx2ac1c
cEJ7ojHSow7VhlLSka2kzdspORzmBhIqxhLUjsJbuzwByLkfsE1wqY+TvuwMWLDm
T8epH8oJyCXv9XPHDn8Rw/GVLEGL5JXnC4mLuQCiNfqz71ZYOEWKHdWBHfYZ7wU7
vRqcnrwRXQvJ8Uy6jalaTRVSL0ydeVzX34dMAU6I/HDkdsmHlFXBJRDuWTITVbH+
j1ciVvwoiRILNg9l9rrpyttG8zPv5MbEYJfrBJZKtGPgsXbCc/4h1wb6xXWcdoUu
dJFDvLz0qVv4jDGxEib+7bdRSyNFAgMBAAGjUzBRMB0GA1UdDgQWBBT0ZSBV97gz
rZ+2IpSmuGc4avibhTAfBgNVHSMEGDAWgBT0ZSBV97gzrZ+2IpSmuGc4avibhTAP
BgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBaLFO82Z5NBJgn+NKf
kqcxTx2Eqe8gzBudzujtZY1Qw4veSLF7giPbmYdumrwgz7CnF76oiqWF3u01sERK
UIC2vlZVEHfeZ2B/89y6c8Cdx43S5tZrOwk39fCsOqNtlVQCn5bS/NffM+99x2AI
dmok/Ucv0ji/9imfTKanopxybmUtUuP1kv72IDYzULHAe8AhSHir5SVdROBLntbK
nnxN/Bo9kXg6uAIUPScaIJDdVV8oe2qSspnczuMVYOHQ5bLiz8Dm4Dcb7/HRf8Mz
lp8TP0LbOBByt/CdQ2GlbjI1AO/Qk5Zg8jxVA32RQ9dmISYVmXuncv4Tc2QPBMpT
bhJx
-----END CERTIFICATE-----
