-----BEGIN CERTIFICATE-----
MIIEBzCCAu+gAwIBAgIUGBayk8eUUBeT1fR9GAbsw9IeM2IwDQYJKoZIhvcNAQEL
BQAwgZIxCzAJBgNVBAYTAkVTMQ4wDAYDVQQIDAVTcGFpbjESMBAGA1UEBwwJQmFy
Y2Vsb25hMQ0wCwYDVQQKDARUZXN0MQswCQYDVQQLDAJJVDEZMBcGA1UEAwwQdGVz
dGRvbWFpbi5sb2NhbDEoMCYGCSqGSIb3DQEJARYZY2EtYWRtaW5AdGVzdGRvbWFp
bi5sb2NhbDAeFw0yMDAxMzAwMTAxMTNaFw0yMTAxMjkwMTAxMTNaMIGSMQswCQYD
VQQGEwJFUzEOMAwGA1UECAwFU3BhaW4xEjAQBgNVBAcMCUJhcmNlbG9uYTENMAsG
A1UECgwEVGVzdDELMAkGA1UECwwCSVQxGTAXBgNVBAMMEHRlc3Rkb21haW4ubG9j
YWwxKDAmBgkqhkiG9w0BCQEWGWNhLWFkbWluQHRlc3Rkb21haW4ubG9jYWwwggEi
MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDDZLS9vdEW6UmPXjFLYqvZ2NMI
CcuPLomsUFnRLJQn3YrZQu0ZgyHoA0lwm3D75wLTSucBV+HpoOt/1bTfaBHxXTyN
arN5cpsczHDY8MYWPOHZwK0lPSVBe3IcLoikIT7LKH0ORprh12sBn+i5rT8rzpCN
/u5smY48QrjKXaBwrA/CuWYW4z3wc3ZGiSkAmrwe0xaRMesnxbfaYyXC8iihhCBf
NWNJ4G8CFPa+RrM0dKbL9leOqSuZVxnSfKl/BUlf3D4sY+CaUBbdCoYVST62nnE/
JkRz7fIQQ5MyYuSmLmR5zhBNcz5xVNeEH1dYuxXFDIdIQRsgtOvgKR2GKuJBAgMB
AAGjUzBRMB0GA1UdDgQWBBSE7Aju3hnWMZe1MhHCY+IgHgY3mTAfBgNVHSMEGDAW
gBSE7Aju3hnWMZe1MhHCY+IgHgY3mTAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3
DQEBCwUAA4IBAQDAMA36S9dXhtdC8Oze996MdnMKTujjKTSCWww9tSKcvxvy/Ez+
zzzTX0Pm15tejxmt6ii6ryCzh3oUiSVsyw0CKCMf9GFbHfroTHovohdxnU6P7WyX
jsdF7nI+r1itwfwkTYeyIvsfKaMjeP5CjGVi6GhYLqI6uXwDwmtge7+85Ad0Qs7r
q2PAO9l05xID66f4HhGpSa5qEEPSMyzvKN9aRnY7iLIhvhlajszfnhTuzUPZHC5l
v7LmOfSGXJf/aeDOwkbwFAgL/wf7cfJ9EFNmo4b4uxn5Nxs4dD/FrVdPlZAa7WsC
bx4kXmzGffi5Ztff48Ty+MicNjiruLehkLs7
-----END CERTIFICATE-----
