-----BEGIN CERTIFICATE-----
MIIDmDCCAoCgAwIBAgIUBUrG0R7QkU8WSP2+1UwUqgcIVAswDQYJKoZIhvcNAQEL
BQAwdjELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYDVQQHDAlCYXJj
ZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQswCQYDVQQDDAJjYTEa
MBgGCSqGSIb3DQEJARYLY2EtYWRtaW5AY2EwHhcNMjAwMjAzMDAxNTAyWhcNMjUw
MjAxMDAxNTAyWjB6MQswCQYDVQQGEwJFUzEOMAwGA1UECAwFU3BhaW4xEjAQBgNV
BAcMCUJhcmNlbG9uYTENMAsGA1UECgwEVGVzdDELMAkGA1UECwwCSVQxDTALBgNV
BAMMBHdlYjExHDAaBgkqhkiG9w0BCQEWDWNhLWFkbWluQHdlYjEwggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQC4KnjVmyU2UPxK17ZPOB3s7AO5xj0mGPFV
naFx3GhhsXBWM0O6do64hOgW/We/2dlqo5kOKxt5wpfr8t6fkh8ae/bgjJBdt63e
+4jsH4Nt1LLlFI3cAdRhJIBX9l6BrfTPqErOKvcncEHED/BXT8wjGesaNiJFrLw/
+ccFuyBUEStrOUOR5XJS9FfjSsEEgYVyWya+901YCFTS3gSMRiz/FZ/ReDDmIInn
hS1T44jx8DP3s00AqSJhDFbi/jMD67mGlSEzBFMKQFdbjjhNXOhaqJb2CtKV2pQi
HtsN2dG7kyNBxcKUBClQji1aMvsFTg59MwivQVL4Yt7rFJqOs3MZAgMBAAGjGjAY
MAkGA1UdEwQCMAAwCwYDVR0PBAQDAgXgMA0GCSqGSIb3DQEBCwUAA4IBAQCwNlcj
KigLQhPrUcbLBK31OUnDijj3f2MJZTzXc5kzOZqKDcClS7PqWl/nq3a7H1AvCkeM
rJ2gp0LGx5bKxCTIChlsF2iHy15l3962JQxHSsQ3qDKsRPjprfoKt9xPQ3skOSiI
Ac+iA5QGIo/ZUV/j41daXGn6svlzfDL0LIHZU37cBG6y7iYCeGk89QzELYGWjrl9
vGALUGecF3VjTQEouhvh2sxtnBDvkgplOR36Qex7ZlFEl8cfxCrMMgdmXDnfud9V
hsq9YigOHbH4Ffvxg61ePKevZ6Q/uqbWG/nMlY+LhtErTV74tV4K/8kOvlegWM40
rgnRUf7bq+8irjjw
-----END CERTIFICATE-----
