-----BEGIN CERTIFICATE-----
MIIDmDCCAoCgAwIBAgIUFACX4ZRrXRRvH2QmfdRNtFUxl/EwDQYJKoZIhvcNAQEL
BQAwdjELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYDVQQHDAlCYXJj
ZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQswCQYDVQQDDAJjYTEa
MBgGCSqGSIb3DQEJARYLY2EtYWRtaW5AY2EwHhcNMjAwMjAyMjIxNTU3WhcNMjUw
MTMxMjIxNTU3WjB6MQswCQYDVQQGEwJFUzEOMAwGA1UECAwFU3BhaW4xEjAQBgNV
BAcMCUJhcmNlbG9uYTENMAsGA1UECgwEVGVzdDELMAkGA1UECwwCSVQxDTALBgNV
BAMMBHdlYjExHDAaBgkqhkiG9w0BCQEWDWNhLWFkbWluQHdlYjEwggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQCarxu7kiQcuYQsIG397YkSSndgic+a7LUj
NFWD/DwBzp9HwAvxWE86oLpEqZ5i//4jlFtQitklij38p41Ff/BzNVR0lq+TX+dm
d+eFeTrGqpTDXqbd+MqO6izPmnhWwF3wj02rWQiH3a7j7gv9stCTsXXjJIphpTdS
wFcm7eI+MW72bh29brDAdEbiFn46eCtOWbkIAnoNp+bYMW3B4XYa6F/SIKuk8HkP
8cMirM6Xoe8/hbQG1uTn/BuChmt3nmzCbx1XVBwRR72TtsV4i9iW+DrCTZH/p0Jl
jzwLx2bLjri4b5QlQcVSlk51fmtQkD91D076VR+lIqoYSw0k+0dZAgMBAAGjGjAY
MAkGA1UdEwQCMAAwCwYDVR0PBAQDAgXgMA0GCSqGSIb3DQEBCwUAA4IBAQAZuuGV
ltSoJOrInGjIjeL1IGweOeC/HvCyUDm6zXkfLsZ8ukH6Eu/1cZacHtadS/L8oTkw
DSSbrwRf+dHJx8GJFzErX/h48C1yYgWXvth9yx9DLufzvmbCf3Fyq8j7UIGUAiT8
idnuggR3b0iCnWrlqmGsyheXBLREpNXouAM5L47bngCCTtpo/cZ6Std6ME+sOQpb
qqRD6EsUPClSLJ+YT1+ye0bSYInPYgSu8hj8Zl2MO8VKJM3375uAGo84+WBgKad/
/kT+PRiiHKMoxct8NJsXgtQ+7sBwkwXuj2kw8RHkO0Z18YG/GmJ+63/eIXGPdejl
9VmYPq1tL4dfDRM0
-----END CERTIFICATE-----
