-----BEGIN CERTIFICATE-----
MIID1TCCAr2gAwIBAgIUEjkDbtA1KW7RmhKt3GJXxYBbsEIwDQYJKoZIhvcNAQEL
BQAwejELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYDVQQHDAlCYXJj
ZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQ0wCwYDVQQDDAR3ZWIx
MRwwGgYJKoZIhvcNAQkBFg1jYS1hZG1pbkB3ZWIxMB4XDTIwMDIwMTAyMDI0NVoX
DTIxMDEzMTAyMDI0NVowejELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIw
EAYDVQQHDAlCYXJjZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQ0w
CwYDVQQDDAR3ZWIxMRwwGgYJKoZIhvcNAQkBFg1jYS1hZG1pbkB3ZWIxMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwxk3MJKC3t1UZl9qF7wl6SUEe+5z
hCeUuJJY22TX0Cus9tx+gNpp3brlrAJasMnkLk9xgwiMh4YIcsNsO0UMIKnk6UP8
BHpO64UiI7mCBuybKjP1R1VYcUpAjuquadkVvfIA8oJaKZRCmhqBPtSAXFFAhOZT
4BQlVWPNLyHpS85Ssids2kjo7PIuV8UBdFIphbNpt0/s6WdhwwvdsFeMRhHUmKGG
pTmg1ZoGya5STjN2ZKus6AaQcYevxqUlzcUrHzExOVi/0mfQMGtH80wnLmLjOlRj
xUsKXeWM34Atgrm7ENKwfV5z6W6x4ey+ZWcc8iqK8pct+Y+nvIC9L82pcwIDAQAB
o1MwUTAdBgNVHQ4EFgQUr5tt/H0SbyIECKcKBAPdopGkiP4wHwYDVR0jBBgwFoAU
r5tt/H0SbyIECKcKBAPdopGkiP4wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0B
AQsFAAOCAQEATOUqfPqAIhuZykv8DYv7fpzXvOhziSX0OxnouLCZ5HU+hKX8Vpxt
n+JAKHd31nskdSiIvG0ozOULLesMkxDBtQfGDwokwnPznB2eugeVysvA8qjcs7FP
dbqlIxSeEcZq0cBg9kB5T9SD3aE08V822U92bROfCybEL8i432+tc21DJXwaWMfY
H49NTi3UuSDanfJNovGR9GsdbxRKmZK2xBQWpRmI4WvbBkudpZXzhmWC2Jwzz6ws
CKE0n6bk2qsbJ3GvQ0JVkZ1zVUtxk+kJobxEd4SuggeZE18kAg9sXkKKbqyNqq/A
0u5LD7IRpkh7ZZ5uL4sZx1h20FhweitNmw==
-----END CERTIFICATE-----
