-----BEGIN CERTIFICATE-----
MIID1TCCAr2gAwIBAgIUMa8Yr/MmXStbnw/fcQBFCFlcidEwDQYJKoZIhvcNAQEL
BQAwejELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYDVQQHDAlCYXJj
ZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQ0wCwYDVQQDDAR3ZWIy
MRwwGgYJKoZIhvcNAQkBFg1jYS1hZG1pbkB3ZWIyMB4XDTIwMDIwMTAyMDI0NloX
DTIxMDEzMTAyMDI0NlowejELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIw
EAYDVQQHDAlCYXJjZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQ0w
CwYDVQQDDAR3ZWIyMRwwGgYJKoZIhvcNAQkBFg1jYS1hZG1pbkB3ZWIyMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuCtzsTIkzrtJbY0ZCa709j8CQ0km
ZFL0E6eWQf2fD/i+8fdry99lU9Z3JNEsGvgADZPQeJpROytm4//GoNuFuIs3Hafi
/jNQ4CW4mzz/bEjg2fVSirSAU2X6xAaRworjP/OLKDjOYZg+fccqocTY0m9S7IOM
T8RxK8mVNfR0knTL+mqmSnqTjsCc+lkBVG+3pguy5yK90gzDokPHhzNj19nsUcQ7
V6CaczmgPycPImXusM9wXgFASYw9Wcq+PSkmppjtyBpqxrVq43KCus8PSVfNTOfU
CP2eQXlLBnAGomcSVU/QAeBG485W0gZdmx0HRC1uQBiNyUIcEsba8TXj0QIDAQAB
o1MwUTAdBgNVHQ4EFgQUPn55V+vsxR/Q11jul4rOxmZtOi4wHwYDVR0jBBgwFoAU
Pn55V+vsxR/Q11jul4rOxmZtOi4wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0B
AQsFAAOCAQEACbzd+5hd6pf5AEYNqZ2QVpCN4opAm2qe8UBjhrPDaBplpayT0M7U
CgeJm69T+2Slkkfpqe1+ixFU5Uc9diapc/p09sD995p0jjt1NPzcsn7qlomRrpq4
6PlIr892H+LB0s0eOTsaws8QX3YaMGo2OJqC+eSHcCUF3osHE5RpixLLY0sHkBwZ
2qu6DzoQ4FdCGlo5W0TmIZl01DWVjfrWglqe0HVsGsOuL+LBjs4a0J4EQcpSlpAB
Y29JaY7Vdm9t3Fn/5m5bsCrC0ISyIDSWj/weskrHixreuNck7aJPfXxJFEV2FEHP
q/jWM4DsIP/dSlHhkC9OB8uilkngQPfhrw==
-----END CERTIFICATE-----
