-----BEGIN CERTIFICATE-----
MIIDmDCCAoCgAwIBAgIUBUrG0R7QkU8WSP2+1UwUqgcIVAwwDQYJKoZIhvcNAQEL
BQAwdjELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYDVQQHDAlCYXJj
ZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQswCQYDVQQDDAJjYTEa
MBgGCSqGSIb3DQEJARYLY2EtYWRtaW5AY2EwHhcNMjAwMjAzMDAxNTAyWhcNMjUw
MjAxMDAxNTAyWjB6MQswCQYDVQQGEwJFUzEOMAwGA1UECAwFU3BhaW4xEjAQBgNV
BAcMCUJhcmNlbG9uYTENMAsGA1UECgwEVGVzdDELMAkGA1UECwwCSVQxDTALBgNV
BAMMBHdlYjIxHDAaBgkqhkiG9w0BCQEWDWNhLWFkbWluQHdlYjIwggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQDl0wvt0HWnW2cUWWq6fWJodxbCtf2yLA5G
lA4Ebu1agM7wbmCTHOtDkfHgY5rAEVxLUL6ofed2GrVlan9i7WxGsVXqhsgpDFtD
Pxy1dn4pm8AKNLUDYEDN23Zdoc1hQgwN0/M9C6nvU49ROw7vF+/MaJlqVQ6f/SI7
fsNet6msZo+mLf0Fi+zrVC4gkBhZ1XsZq5HbR1MhG/jevJJCAsRHPHOkWCbTB3Ej
qptkvclz3sXV10vp8wxMm3c1cOCdi4Apqu5WJVkXja78mfGlHpfi2mSBv+FfzlzS
oGDggMENip4rd1YRCi99nC1CFSC7i6DHazQVT5NrnyB4Lp91/7hPAgMBAAGjGjAY
MAkGA1UdEwQCMAAwCwYDVR0PBAQDAgXgMA0GCSqGSIb3DQEBCwUAA4IBAQAQyf91
u2fRRB6ezTfF3xh1qxdu/7BN1CiBDn5ShOR45P9ucXDbLLP8MRMLsqqBYe8Iv4LE
2cGfmt5fCePQ9UtZ5b/vzZlBYMpb2hqDL2UKAogTGU8uEJP0TktMPoAJWtU543Se
UUGAMfr73BX98293H7CDfOiDD+3KlZWr8F7aNXFevGLFrRpMdRaAU+O9LDGIkgdc
I8KBV59UF0dy9UCmTa5cXWUz4wJR3/KYPtM7tOTDBEeJjzrnR1LtMPVwLFWYVOO1
jvpDcVAMm69nuvEJd8FYAcQSBzOLaWYBLJU4ga0Wc/qr+TFBkj6l6TgD79vHroPe
Ev5MT70BgcFA8CqI
-----END CERTIFICATE-----
