-----BEGIN CERTIFICATE-----
MIID1TCCAr2gAwIBAgIUD9Nu+xS8oOhIY3L6DTtw5hlGFOwwDQYJKoZIhvcNAQEL
BQAwejELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIwEAYDVQQHDAlCYXJj
ZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQ0wCwYDVQQDDAR3ZWIy
MRwwGgYJKoZIhvcNAQkBFg1jYS1hZG1pbkB3ZWIyMB4XDTIwMDEzMDIyNTYzNloX
DTIxMDEyOTIyNTYzNlowejELMAkGA1UEBhMCRVMxDjAMBgNVBAgMBVNwYWluMRIw
EAYDVQQHDAlCYXJjZWxvbmExDTALBgNVBAoMBFRlc3QxCzAJBgNVBAsMAklUMQ0w
CwYDVQQDDAR3ZWIyMRwwGgYJKoZIhvcNAQkBFg1jYS1hZG1pbkB3ZWIyMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwaqXuNzUIOilJCllqlHMDH8oMjLg
KBDAs4vvrdW/9+3ZWKfSocFlSWQD4GTI6tj4rqq33/wBQ44YKb4Q5iQ6arkEoFsA
LgMoDtufhKuRQOJnzPf7EBC4GidKnNHt+4Fn67SoyIeR/qXjk4fPrI9fBz/p3zlb
FFVBEe8Fw2qji0zE+Bqi21BHrM2kpc2LQEIlzxFTMQn6n7CO99a/YOXFdoNSQXgD
8wueBgdXAPe8jMS2LZp26Q9mhjDdLnDOBf48c4tI1uuPYKKKggTmnpgA5fVlBkgU
IrD1/F3xOXAR+SPNPdlhJRV371eIaSX7W0sFLtMQgBeh9XlfdloMO177ZQIDAQAB
o1MwUTAdBgNVHQ4EFgQUdWfzgD6hpMv1GDfCLMWuwpRaoqQwHwYDVR0jBBgwFoAU
dWfzgD6hpMv1GDfCLMWuwpRaoqQwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0B
AQsFAAOCAQEAc0CRGn88d9Lyj2kI4N/IUgzCR2NYcB9I5CL6RqtxfcV7zJSqQKg+
MZizRejpiuWMudK5EzSqqGTh0svh786KEU9sBQE6EbgyS3CjwDbbppPlDdJ4CJkb
NQEIWZDuAFM7j3k58lFvEKFFjfFhaQ+jQWGG8/Uc5MmP9tfQ/AlLOwEN4wWCafLb
lb/wt2yAw2YnL7FqHVkflrzihihSR6TAoIzTbT9ZNdUjKJWLM/hUs7iuG6gjZUNa
E5Gw93IdQqm+CjpwwFHs3z0rZ9N56I5shbEVodVJyDIOLg2+W6VTSym1NxkKG82H
aEQurbMv+wGj0utPRn+IcaNz6V6zLCgOjg==
-----END CERTIFICATE-----
